.forgot-password-section {
  background-color: var(--contact-background);
  padding: 100px 0;
}
.forgot-password-container {
  display: grid;
  place-content: center;
}
.forgot-password-form {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  border-radius: 20px;
  color: var(--color);
  font-weight: bold;
  padding: 100px 50px;
  width: 500px;
}
.forgot-password-button {
  background-color: var(--color);
  color: var(--background-color);
  width: 200px;
  font-weight: 300;
}
@media screen and (max-width: 576px) {
  .forgot-password-form {
    width: 300px;
  }
}
