.logo {
  width: 200px;
  height: 100px;
}
.mode {
  width: 30px;
  height: 30px;
}
.header {
  background-color: var(--background-color);
}
.Header-col3-button {
  background-color: var(--color);
  color: var(--background-color);
  font-size: 15px;
}
.Header-col3-button:hover {
  background-color: var(--background-color);
  color: var(--color);
}
.hamburger {
  display: none;
}

.button-animation {
  animation: btnAnimation 0.8s ease-in-out 1;
}
@keyframes btnAnimation {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .Header-col3-button {
    font-size: 14px;
  }
  .hamburger {
    display: block;
    color: var(--color);
  }
  .nav-hamburger {
    display: block;
  }
}
