.nav-ul {
  display: flex;
  align-items: center;
  gap: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200;
}
.nav-ul-li-Link {
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

/* .nav-ul-li-Link:hover {
  color: #b100cd;
  transition: all 0.3s ease-in-out;
} */

.li-animation {
  animation: li-animation 0.3s ease-in-out 2;
}
@keyframes li-animation {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 1200px) {
  .nav-ul {
    display: flex;
    gap: 50px;
    font-size: 19px;
  }
}
@media screen and (max-width: 800px) {
  .nav-ul {
    display: flex;
    gap: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    display: none;
    transition: 0.5s;
    z-index: 100;
  }
  .nav-hamburger {
    display: block;
  }
  .nav-ul {
    padding: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--color);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 100px;
    font-size: 15px;
    transition: 0.5s;
    animation: nav-hamburger 0.5s ease-in-out;
  }
  @keyframes nav-hamburger {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
